{% extends '_templates/base.njk' %}

{% block page_title %}Landmarks{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center row-cols-lg-2 row-cols-1 row-cols-md-1">
    <div class="col">
        <h1>Austin Tourism Recommendation</h1>
        <p>Hempen halter mizzenmast deadlights gaff pillage starboard jack lee Blimey draught. Man-of-war piracy black jack sutler Yellow Jack keel provost overhaul execution dock rigging. Log quarterdeck dead men tell no tales red ensign gibbet grog blossom bilge Nelsons folly code of conduct gunwalls.</p>  

      <hr>
        {% for citydata in citydata.landmarks %}
          <h3> <a href= " citydata/{{ citydata.slug }}.html " target="_blank"> {{ citydata.name }} </a> </h3>
          <p> {{ citydata.established }} </p>
          {% endfor %}
      <hr>
    </div>
  </div>
</div>

{% endblock %}