{% extends '_templates/base.njk' %}
{% block page_title %}Murals{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center row-cols-lg-2 row-cols-1 row-cols-md-1">
    <div class="col text-center">
        <h1>What to See:</h1>
        <p>Check out the many stunning murals across the city!</p>  
  
    <iframe title="Murals" aria-label="Map" id="datawrapper-chart-LLPUz" src="https://datawrapper.dwcdn.net/LLPUz/1/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="547" data-external="1"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"]){var e=document.querySelectorAll("iframe");for(var t in a.data["datawrapper-height"])for(var r,i=0;r=e[i];i++)if(r.contentWindow===a.source){var d=a.data["datawrapper-height"][t]+"px";r.style.height=d}}}))}(); </script>

    </div>
  </div>
</div>

{% endblock %}


 