{% extends '_templates/base.njk' %}

{% block page_title %}Resturants{% endblock %}

{% block page_description %}A list of Austin resturants.{% endblock %}

{% block content %}
<article class="container">
  <h1>Austin Resturants</h1>
  <p>Intro text here.</p>
</article>
{% endblock %}